body {
    background-color: #121212;
    background-image: url(../images/bg-2.svg);
    background-size: 25%;
}

#container-1 {
    height: 100vh;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7.5%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
}

#navbar a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    transition-property: color, transform;
    transition-duration: 0.25s;
    z-index: 1;
}

#navbar a:hover {
    color: #45a049;
    transform: scale(1.025);
}

#navbarMain a {
    display: inline-block;
}

#navbarMain a:hover {
    transform: scale(1.025);
}

#nav-name {
    display: none;
    opacity: 0;
    position: absolute;
    margin: auto;
    transition-property: opacity, scale;
    transition-duration: 0.25s;
}

#nav-name h3 {
    font-family: 'Corben', cursive;
    margin-top: 0;
    margin-bottom: 0;
}

#nav-arrow {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
    z-index: 1;
}

#name-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    color: whitesmoke;
    font-family: 'Corben', cursive;
    font-size: 55pt;
    margin: 0px;
}

#first-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#subtitle {
    color: whitesmoke;
    font-family: 'Corben', cursive;
    margin-top: 5px;
    font-size: xx-large;
}

#arrow {
    position: absolute;
    top: 80%;
    cursor: pointer;
}

line,
path {
    transition: fill 0.25s;
}

path:hover,
line:hover {
    fill: #2e86c1;
}

#arrow-link {
    display: flex;
    justify-content: center;
}

#name-box span {
    display: inline-block;
}

[class^="char"] {
    cursor: default;
    transition-property: color, transform;
    transition-duration: 0.25s;
}

[class^="char"]:hover {
    color: #2e86c1;
    transform: scale(1.1) rotate(-12deg);
}

#about {
    padding-top: 100px;
    justify-content: flex-start;
}

#about .paper {
    background-color: whitesmoke;
    width: 65%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .paper h3 {
    font-family: 'Corben', cursive;
}

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

#resume {
    padding-top: 35px;
}

.paper p {
    font-family: 'Corben', cursive;
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}

#resume .paper {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: -10px;
}

#resume p {
    font-family: 'Corben', cursive;
    font-size: x-large;
    color: whitesmoke;
}

#resume a {
    color: whitesmoke;
    font-family: 'Corben', cursive;
    font-size: x-large;
    margin-right: 30px;
}

#resume-img {
    width: 65%;
    height: 84%;
    border-radius: 25px;
}

#contact {
    padding-top: 100px;
}

#contact .paper {
    background-color: whitesmoke;
    width: 65%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h3 {
    font-family: 'Corben', cursive;
    font-size: xx-large;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #111111;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact-form-container {
    width: 50%;
    border-radius: 5px;
    padding: 20px;
}

#gform {
    display: flex;
    flex-direction: column;
}

footer {
    /* font-family: 'Corben', cursive; */
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    color: whitesmoke;
}